
@{
    ViewBag.Title = "Klienty";
}
@model Shop.WebUI.ViewModels.CustomersListViewModel


@foreach (var cus in Model.CustomersList)
{
    @Html.Partial("ProductSummary", cus);
}
<div class="page">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List",new {page=x}))
</div>

